@model FinalExam.Modles.Divisions

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NHL League Standings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>